.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: auto;
  z-index: -10;

  .row {
    width: 100%;
    display: flex;

    .col-md-4 {
      width: calc(100vw / 12 *4);
    }

    .col-md-8 {
      width: calc(100vw / 12 *8);
    }

    .col-md-12 {
      width: calc(100vw / 12 *12);
    }
  }

  .cols {
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ededed;
  }

  .title {
    font-size: 1.2em;
  }
}
